body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #9b59b6;
}

/* Styly pro kartu */
.card {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 2rem;
}

/* Styly pro formulář */
.form-signin h2, .form-signup h2 {
    font-size: 1.5rem;
    color: #6f42c1;
}

.form-signin .form-group, .form-signup .form-group {
    margin-bottom: 1.5rem;
}

.form-signin .form-control, .form-signup .form-control {
    margin-bottom: 1.5rem;
    border: 1px solid #6f42c1;
    border-radius: 4px;
}

    .form-signin .form-control:focus, .form-signup .form-control:focus {
        border-color: #5a3f8c;
        box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25);
    }

/* Styly tlačítek */
.form-signin .btn-success, .form-signup .btn-primary {
    background-color: #6f42c1;
    border-color: #6f42c1;
    color: white;
}

    .form-signin .btn-success:hover, .form-signup .btn-primary:hover {
        background-color: #5a3f8c;
        border-color: #543785;
    }

.form-signin .btn-outline-primary, .form-signup .btn-outline-primary {
    border-color: #6f42c1;
    color: #6f42c1;
}

    .form-signin .btn-outline-primary:hover, .form-signup .btn-outline-primary:hover {
        background-color: #6f42c1;
        color: white;
    }

.social-login .btn-facebook {
    background-color: #3b5998;
    color: white;
}

.social-login .btn-google {
    background-color: #dd4b39;
    color: white;
}

.social-login .btn-facebook:hover {
    background-color: #334d84;
}

.social-login .btn-google:hover {
    background-color: #c43f2b;
}

.social-login .btn {
    font-size: 0.9rem;
    margin: 0.5rem;
}
