@{
    ViewData["Title"] = "Časté otázky";
}
<h1>@ViewData["Title"]</h1>

<div class="faq-section">
    <h3>1. Jak mohu vytvořit objednávku?</h3>
    <p>Proces objednávání a nákupu zboží je jednoduchý. Navštivte naše internetové stránky a postupujte podle pokynů na stránce s produkty.</p>

    <h3>2. Jak dlouho trvá dodání objednávky?</h3>
    <p>Informace o dostupnosti zboží a předpokládaném datu dodání jsou k dispozici u každého produktu. Snažíme se dodržovat termíny dodání, ale mohou se lišit v závislosti na různých okolnostech.</p>

    <h3>3. Jak reklamovat zboží?</h3>
    <p>Pokud máte problémy se zakoupeným zbožím, máte právo reklamovat v souladu s platnými právními předpisy. Podrobné informace o reklamačním řízení najdete na našich internetových stránkách.</p>
</div>

<div class="faq-section">
    <h3>4. Jak chráníte osobní údaje?</h3>
    <p>Chápeme důležitost ochrany osobních údajů. Veškeré informace o zpracování osobních údajů naleznete v našich Zásadách ochrany osobních údajů.</p>

    <h3>5. Mohou se obchodní podmínky změnit?</h3>
    <p>Obchodní podmínky mohou být změněny bez předchozího upozornění. Aktualizované verze obchodních podmínek jsou vždy k dispozici na našich internetových stránkách.</p>
</div>
