@{
    ViewData["Title"] = "Zásady ochrany osobních údajů";
}
<h1>@ViewData["Title"]</h1>

<p>Zpracováním osobních údajů se rozumí jakákoliv operace nebo soubor operací, které jsou prováděny s osobními údaji nebo soubory osobních údajů pomocí či bez pomoci automatizovaných postupů, jako jsou shromáždění, zaznamenání, uspořádání, strukturování, uložení, přizpůsobení nebo pozměnění, vyhledání, nahlédnutí, použití, zpřístupnění přenosem, šíření nebo jakékoliv jiné zpřístupnění, seřazení či zkombinování, omezení, výmaz nebo zničení.</p>

<h3>Zásady zpracování osobních údajů</h3>
<p>Osobní údaje musí být ve vztahu k subjektu údajů zpracovávány korektně, zákonným a transparentním způsobem. Osobní údaje musí být shromažďovány pro určité, výslovně vyjádřené a legitimní účely, a k jinému účelu jen, dal-li k tomu subjekt údajů souhlas. Bez tohoto souhlasu je může zpracovávat pouze v konkrétně stanovených případech (např. zpracování osobních údajů výlučně pro účely archivnictví). Souhlasem subjektu údajů se dle článku 4 odst. 1 bodu 11 GDPR rozumí svobodný, vědomý, jednoznačný, konkrétní a informovaný projev vůle subjektu údajů, jehož obsahem je svolení subjektu údajů se zpracováním osobních údajů.</p>

<h4>Práva subjektu údajů</h4>
<p>Subjekt údajů musí být předně včas a řádně informován o tom, že jsou o něm vůbec údaje shromažďovány, v jakém rozsahu, pro jaký účel, kdo je správcem, jaké jsou oprávněné zájmy správce, kdo je příjemcem osobních údajů apod. Taxativní výčet informací nalezneme v článku 13 a 14 GDPR. Subjekt musí tedy informaci dostat natolik včas a v takové podobě, aby mohl účinně hájit svá práva.</p>

<h5>Ochrana práv subjektů údajů</h5>
<p>Další skupina povinností se vztahuje k zajištění bezpečnosti osobních údajů. Všichni správci a zpracovatelé musí přijmout opatření, aby nemohlo dojít k náhodnému nebo protiprávnímu zničení, ztrátě, pozměňování, neoprávněnému zpřístupnění předávaných, uložených nebo jinak zpracovávaných osobních údajů, nebo neoprávněnému přístupu k nim. Tato povinnost stíhá všechny správce a trvá i po skončení zpracování.</p>