@{
    ViewData["Title"] = "Zásady obchodních podmínek";
}
<h1>@ViewData["Title"]</h1>

<p>Vítejte na našem internetovém bazaru! Přečtěte si prosím následující zásady obchodních podmínek, které upravují vaše používání našich služeb.</p>

<h3> Všeobecná ustanovení </h3>
<p>
    1.1. Těmito obchodními podmínkami jsou upraveny vztahy mezi provozovatelem internetového bazáru "BazarChlapů" (dále jen "prodejce") a uživateli internetového bazáru (dále jen "kupující").

    1.2. Kupujícím může být fyzická nebo právnická osoba, která splňuje podmínky stanovené těmito obchodními podmínkami.


</p>

<h3> Objednávky a Koupě zboží </h3>
<p>
    2.1. Proces objednávání a nákupu zboží je popsán na internetových stránkách bazáru.

    2.2. Závazné přijetí objednávky nastává potvrzením objednávky prodejcem. Prodejce si vyhrazuje právo odmítnout objednávku z vážných důvodů.


</p>

<h3> Ceny a Platební Podmínky </h3>
<p>
    3.1. Všechny ceny jsou uvedeny v místní měně a zahrnují daně, pokud není uvedeno jinak.

    3.2. Kupující je povinen uhradit kupní cenu způsobem uvedeným na internetových stránkách bazáru.


</p>

<h3> Dodání a Přeprava </h3>
<p>

    4.1. Podrobnosti o dodání a přepravě jsou uvedeny na internetových stránkách bazáru.

    4.2. Prodejce neručí za škody způsobené přepravcem.


</p>

<h3> Reklamace a Vrácení zboží </h3>
<p>
    5.1. Kupující má právo reklamovat zboží v souladu s platnými právními předpisy.

    5.2. Podrobné informace o reklamačním řízení jsou uvedeny na internetových stránkách bazáru.


</p>

<h3> Ochrana Osobních Údajů </h3>
<p>
    6.1. Prodejce bere na vědomí důležitost ochrany osobních údajů. Podrobnosti jsou popsány v Zásadách ochrany osobních údajů.


</p>

<h3> Závěrečná ustanovení </h3>
<p>
    

7.1. Tyto obchodní podmínky mohou být změněny prodejcem bez předchozího upozornění.

7.2. Vztahy mezi prodejcem a kupujícím se řídí právním řádem České republiky.

7.3. Spory vzniklé z těchto obchodních podmínek budou řešeny soudně.



</p>














