@model RegisterViewModel
@{
    ViewData["Title"] = "Registrace";
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Register" method="post" class="form-signup">
                        <h2 class="card-title text-center mb-4">Registrace</h2>
                        <hr>

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                            <input asp-for="Username" type="text" id="user-name" class="form-control" placeholder="Uživatelské jméno" autofocus="">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="FirstName" type="text" id="first-name" class="form-control" placeholder="Jméno" autofocus="">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="LastName" type="text" id="last-name" class="form-control" placeholder="Příjmení" autofocus="">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Email" type="email" id="user-email" class="form-control" placeholder="Emailová adresa" autofocus="">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Phone" type="tel" id="user-phone" class="form-control" placeholder="Telefonní číslo" autofocus="">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Password" type="password" id="user-pass" class="form-control" placeholder="Heslo" autofocus="">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="RepeatedPassword" type="password" id="user-repeatpass" class="form-control" placeholder="Potvrzení hesla" autofocus="">
                            <span asp-validation-for="RepeatedPassword" class="text-danger"></span>
                        </div>

                        <button class="btn btn-primary btn-block" type="submit">Registrovat</button>

                        <hr>

                        <p class="text-center">
                            <a asp-action="Login" class="btn btn-outline-success" id="btn-signin">Přihlásit se k existujícímu účtu</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}