@model Product

@{
    ViewData["Title"] = "Product - Create";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label" asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Description">Description</label>
        <textarea class="form-control" rows="5" asp-for="Description"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Price">Price</label>
        <input class="form-control" asp-for="Price">
    </div>
    <div class="mb-3">
        <label class="form-label">Image Source</label>
        <input type="file" class="form-control" asp-for="Image" accept="image/*">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Kategory">Kategory</label>
        <select class="form-select" asp-for="Kategory">
            <option value="Auta">Auta</option>
            <option value="Elektronika">Elektronika</option>
            <option value="Domácnost">Domácnost</option>
            <option value="Dvůr a zahrada">Dvůr a zahrada</option>
            <option value="Hračky">Hračky</option>
            <option value="Zvířata">Zvířata</option>
            <option value="Sport">Sport</option>
            <option value="Oblečení">Oblečení</option>
            <option value="Ostatní">Ostatní</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="PhoneNumber">Phone Number</label>
        <input class="form-control" asp-for="PhoneNumber">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Email">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>